<!-- <p>home works!</p> -->
<div class="container-xxl">
    <div class="titulo">
        <h1>STAR</h1>
        <p>Clínica Star, comprometidos con tu confianza!</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="carta d">
                <img src="assets/m.jpg" alt="">
                <div class="info">
                    <a href="Medico" class="btncarta">Iniciar Sesion</a>
                    <a href="" class="btncarta">Registrate</a>
                    <h1>Doctores</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="carta2 e">
                <img src="assets/e.jpg" alt="">
                <div class="info2">
                    <a href="Enfermeros" class="btncarta2">Iniciar Sesion</a>
                    <h1>Enfermeros</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="carta2 p">
                <img src="assets/p.jpg" alt="">
                <div class="info2">
                    <a href="Personal" class="btncarta2">Iniciar Sesion</a>
                    <h1>Personal.A</h1>
                </div>
            </div>
        </div>
    </div>
</div>