.slide{
    height: 100vh;
    
}

.slide img{
    height: 100vh;
    
}


.carousel-item{
    height: 100vh;
    width: 100%;
    background-size: cover;/*
    background-image: linear-gradient(to right, #6600ff,#00ff91);*/
}

.carousel-caption{
    bottom: 200px;
}


.carousel-caption h5{
    text-shadow: 2px 7px 14px #00ff91;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.carousel-caption p{
    text-shadow: 7px 7px 14px #00ff91;
    width: 60%;
    margin: auto;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.carta{
    width: 350px;
    height: 200px;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin: 50px 0px;
    border-radius: 25px;
}

.carta:hover{
    transform: translateY(-20px);
    cursor: pointer;
}

.carta::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s ease-in-out;
    opacity: 0;
    border-radius: 25px;
}

.carta:hover::before{
    opacity: 1;
}

.carta .imgcarta{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
}


.info{
    z-index: 3;
    color: white;
    opacity: 1;
    transform: translateY(-80px);
    transition: 0.5s ease-in-out;
}
.info h1{
    z-index: 3;
    color: white;
    opacity: 1;
    margin:5% 25%;
    transform: translateY(20px);
    transition: 0.5s ease-in-out;
    text-shadow: 1px 1px 7px black;
}

.carta:hover .info h1{
    opacity: 1;
    transform: translateY(-1px);
    text-shadow: 0px 0px 0px black;
}

.btncarta{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    font-size: 14px;
    opacity: 0;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin: 30px 30px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.carta:hover .btncarta{
    opacity: 1;
}

.btncarta:hover{
    color: rgb(0, 119, 255);
    box-shadow:1px 1px 10px rgb(0, 119, 255);
}

/*carta2*/

.carta2{
    width: 350px;
    height: 200px;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin: 50px 0px;
    border-radius: 25px;
}

.carta2:hover{
    transform: translateY(-20px);
    cursor: pointer;
    border-radius: 25px;
}

.d::before{background: linear-gradient(to bottom,rgba(0, 25, 138, 0.418),rgb(0, 183, 255));}
.e::before{background: linear-gradient(to bottom,rgba(90, 0, 143, 0.5),rgb(153, 0, 255));}
.p::before{background: linear-gradient(to bottom,rgba(0, 121, 36, 0.5),rgb(0, 248, 124));}

.carta2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s ease-in-out;
    opacity: 0;
    border-radius: 25px;
}

.carta2:hover::before{
    opacity: 1;
}

.carta2 .imgcarta2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
}


.info2{
    z-index: 3;
    color: white;
    opacity: 1;
    transform: translateY(-80px);
    transition: 0.5s ease-in-out;
}
.info2 h1{
    z-index: 3;
    color: white;
    opacity: 1;
    margin:6% 25%;
    transform: translateY(20px);
    transition: 0.5s ease-in-out;
    text-shadow: 1px 1px 7px black;
}

.carta2:hover .info2 h1{
    opacity: 1;
    transform: translateY(-1px);
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
}

.btncarta2{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    font-size: 14px;
    opacity: 0;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-left: 105px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.carta2:hover .btncarta2{
    opacity: 1;
}

.btncarta2:hover{
    color: rgb(0, 189, 126);
    box-shadow:1px 1px 10px rgb(0, 223, 130);
}


@media screen and (max-width: 1900px)
{
    .slide{
        height: 100vh;
    }

    .carousel-item{
        height: 100vh;
        width: 100%;
        background-size: cover;/*
        background-image: linear-gradient(to right, #6600ff,#00ff91);*/
    }

    .slide img{
        height: 100vh;
        background-image: linear-gradient(to right, #6600ff,#00ff91);
    }

    .carousel-caption{
        bottom: 0px;
    }
    

    .carousel-caption h5{
        text-shadow: 2px 7px 14px #00ff91;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .carousel-caption p{
        text-shadow: 7px 7px 14px #00ff91;
        width: 60%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .carta{
        width: 350px;
        height: 200px;
        margin: 50px -0px;
    }

    .carta2{
        width: 350px;
        height: 200px;
        margin: 50px -0px;
    }
  
}




@media screen and (max-width: 1400px)
{
	
    .slide{
        height: 100vh;
    }

    .carousel-item{
        height: 100vh;
        width: 100%;
        background-size: cover;/*
        background-image: linear-gradient(to right, #6600ff,#00ff91);*/
    }

    .slide img{
        height: 100vh;
        background-image: linear-gradient(to right, #6600ff,#00ff91);
    }

    .carousel-caption{
        bottom: 0px;
    }
    

    .carousel-caption h5{
        text-shadow: 2px 7px 14px #00ff91;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .carousel-caption p{
        text-shadow: 7px 7px 14px #00ff91;
        width: 60%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .carta{
        width: 350px;
        height: 200px;
        margin: 50px -0px;
    }

    .carta2{
        width: 350px;
        height: 200px;
        margin: 50px -0px;
    }
  
}



@media screen and (max-width: 1100px)
{
	
    .slide{
        height: 150vh;
    }

    .carousel-item{
        height: 150vh;
        width: 100%;
        background-size: cover;/*
        background-image: linear-gradient(to right, #6600ff,#00ff91);*/
    }

    .carousel-caption{
        bottom: 50px;
    }
    

    .slide img{
        height: 150vh;
        background-image: linear-gradient(to right, #6600ff,#00ff91);
    }
    

    .carousel-caption h5{
        text-shadow: 2px 7px 14px #00ff91;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .carousel-caption p{
        text-shadow: 7px 7px 14px #00ff91;
        width: 60%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .carta{
        width: 350px;
        height: 200px;
        margin: 50px -0px;
    }

    .carta2{
        width: 350px;
        height: 200px;
        margin: 50px -0px;
    }
  
}
@media screen and (max-width: 520px)
{

    .slide{
        height: 150vh;
    }

    .carousel-item{
        height: 150vh;
        width: 100%;
        background-size: cover;/*
        background-image: linear-gradient(to right, #6600ff,#00ff91);*/
    }

    .carousel-caption{
        bottom: 50px;
    }


    .slide img{
        height: 150vh;
        background-image: linear-gradient(to right, #6600ff,#00ff91);
    }
    

    .carousel-caption h5{
        text-shadow: 2px 7px 14px #00ff91;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .carousel-caption p{
        text-shadow: 7px 7px 14px #00ff91;
        width: 60%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .carta{
        width: 300px;
        height: 200px;
        margin: 50px -35px;
    }

    .carta2{
        width: 300px;
        height: 200px;
        margin: 50px -35px;
    }
    .btncarta{
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: white;
        color: black;
        font-size: 14px;
        opacity: 0;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        margin: 30px 17px;
        border-radius: 10px;
        transition: 0.5s ease-in-out;
    }
        
    
}
@media screen and (max-width: 320px)
{
    
}