body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
	/*background: linear-gradient(45deg,#00b9f7 ,#0073ff);*/
    background:linear-gradient(rgba(0, 255, 136, 0.01),rgba(0, 255, 136, 0.04)), url(src/assets/staff.jfif) ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.box .nu input{
    border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(45deg,#00fbff,#00fea7,#00ff8a)1;
}

.box2{
    width: 500px;
	height: 400px;
}

.nu input:focus ~ label,
.nu input:valid ~ label
{
	top: -18px;
	left: 0;
	background: -webkit-linear-gradient(right,#00fbff,#00fea7,#00ff8a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 12px;
}
.box input[type="submit"]{
	background: transparent;
	border:none;
	outline: none;
	color: rgb(0, 0, 0);
	background: linear-gradient(45deg,#00fbff,#00fea7,#00ff8a );
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
  transition: 1s all ease-in-out;
}

.box input[type="submit"]:hover{
  background: linear-gradient(45deg,#00ff8a,#00fea7,#00fbff );
  color: #fff;
}
@media screen and (max-width: 988px)
{
	
  .box2
	{
		width: 450px;
		height: 450px;
		right: 10px;
	}
}
@media screen and (max-width: 640px)
{

    .box2
	{
		width: 350px;
		height: 400px;
		right: 10px;
	}
}
@media screen and (max-width: 320px)
{
    .box2
	{
		width: 310px;
		height: 400px;
		right: 10px;
	}
}