
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-star-o"></span><span>Hospital</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a (click)="topatient()"  routerLinkActive="active" class="active"><span class="fa fa-user"></span>
                    <span>Pacientes</span></a>
                </li>
                <li>
                    <a (click)="toagregar()"  routerLinkActive="active" ><span class="fa fa-user"></span>
                    <span>Agregar Paciente</span></a>
                </li>
                <li>
                    <a (click)="toagregarconsulta()"  routerLinkActive="active" ><span class="fa fa-user"></span>
                    <span>agregar consulta</span></a>
                </li>
                <li>
                    <a (click)="toagregarreslab()"  routerLinkActive="active" ><span class="fa fa-user"></span>
                    <span>agregar Resultados de Laboratorio</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        
        <section id="pacientes">
            <main>

                <div class="card-body">
                        <div class="titulonurse">
                            <h1>Pacientes</h1>
                        </div>
                        <div class="wrapperpat">

                            <ng-container *ngIf="confirmPatients(); else existPatients">
                            
                                <div class="cardpat" *ngFor="let pat of patients; index as i;">
                                    <img src="assets/e.jpg" alt="">
                                    <div class="name">
                                        <h1>{{pat.name + " " + pat.surnames}}</h1>
                                        <a (click)="seePatient(i)" routerLinkActive="active" class="btn">Ver paciente</a>
                                        <a (click)="toagregarconsultaId(i)"  routerLinkActive="active" class="btn">Consulta <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                        <a (click)="toagregarconsultaId(i)"  routerLinkActive="active" class="btn">Prueba Lab <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                
                                
                            </ng-container>

                            <ng-template #existPatients>
                                <div class="cardpat">
                                    <img src="assets/add.png" alt="">
                                    <div class="name">
                                        <h1>Agregar Paciente</h1>
                                        <a (click)="toagregar()" routerLinkActive="active" class="btn"> Agregar <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </ng-template>


                        </div>
                    </div>
            </main>
        </section>

        <section id="agregarpaciente">
            <main>
                <div class="histitle">
                    <h1>Agregando un nuevo Paciente</h1>
                </div>
                <div class="table-responsive">
                <form>
                    <table height="80%" width="100%">
                        <thead>
                            <tr>
                                <td>Datos</td>
                                <td>Editar</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre <span class="fa fa-text-width"></span></td>
                                <td><input type="text" name="username" placeholder="Nombre" [(ngModel)]="newPatient.name" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Apellidos <span class="fa fa-text-width"></span></td>
                                <td><input type="text" name="surnames" placeholder="Apellidos" [(ngModel)]="newPatient.surnames" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Fecha de Nacimiento <span class="fa fa-calendar"></span></td>
                                <td><input type="date" name="birthdate" [(ngModel)]="newPatient.birthdate" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Telefono <span class="fa fa-phone"></span></td>
                                <td><input type="text" name="phone" placeholder="Phone" [(ngModel)]="newPatient.phone" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            
                            <tr>
                                <td>Sexo <span class="fa fa-mars"></span></td>
                                <td>
                                    <select name="sex" [(ngModel)]="newPatient.sex">
                                        <option value="" disabled selected >-- Selecciona --</option>
                                        <option value="M">Mujer</option>
                                        <option value="H">Hombre</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btnedit">
                        <input type="submit" (click)="topatient()" value="Cancelar" >
                        
                        <input type="submit" (click)="savePatient()" value="Enviar Datos" >
                    </div>
                </form>
                </div>
            </main>
        </section>
        <section id="agregarconsulta">
            <main>
                <div class="histitle">
                    <h1>Agregando una Nueva Consulta</h1>
                </div>
                <div class="table-responsive">
                <form>
                    <table height="80%" width="100%">
                        <thead>
                            <tr>
                                <td>Datos</td>
                                <td>Editar</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre <span class="fa fa-text-width"></span></td>
                                <td><input type="text" name="name" placeholder="Nombre" [(ngModel)]="newConsultation.name" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Apellidos <span class="fa fa-text-width"></span></td>
                                <td><input type="text" name="surnames" placeholder="Apellidos" [(ngModel)]="newConsultation.surnames" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Razon <span class="fa fa-exclamation"></span></td>
                                <td><input type="text" name="reason" placeholder="Razon" [(ngModel)]="newConsultation.reason" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Urgencia <span class="fa fa-exclamation-triangle"></span></td>
                                <td><input type="mul" name="urgency" placeholder="Bajo / Medio / Alto" [(ngModel)]="newConsultation.urgency" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Peso kg <span class="fa fa-ravelry"></span></td>
                                <td><input type="number" name="weight" placeholder="Kg" [(ngModel)]="newConsultation.weight" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Talla m <span class="fa fa-exchange"></span></td>
                                <td><input type="number" name="size" placeholder="m" [(ngModel)]="newConsultation.size" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Temperatura <span class="fa fa-thermometer-half"></span></td>
                                <td><input type="number" name="temperatura" placeholder="°C" [(ngModel)]="newConsultation.temperatura" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Presion Arterial <span class="fa fa-newspaper-o"></span></td>
                                <td><input type="text" name="blood_pre" placeholder="x/y" [(ngModel)]="newConsultation.blood_pre" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            <tr>
                                <td>Pulso Cardiaco <span class="fa fa-newspaper-o"></span></td>
                                <td><input type="text" name="hearbeat" placeholder="p/min" [(ngModel)]="newConsultation.hearbeat" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="btnedit">
                        <input type="submit" (click)="clearNewConsultation()" value="Cancelar" >
                        
                        <input type="submit" (click)="enterConsultation()" value="Enviar Datos" >
                    </div>
                </form>
                </div>
            </main>

        </section>

        <section id="agregarreslab">
            <main>
                <div class="histitle">
                    <h1>Agregando Resultado de Laboratorio</h1>
                </div>
                <div class="table-responsive">
                <form>
                    <table height="80%" width="100%">
                        <thead>
                            <tr>
                                <td>Analisis de Orina</td>
                                <td>Resultado</td>
                                <td>VALOR DE REFERENCIA</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Color <span class="fa fa-paint-brush"></span></td>
                                <td><input type="text" name="color" placeholder="amarillo palido" [(ngModel)]="resultlab.color" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>Aspecto <span class="fa fa-eercast"></span></td>
                                <td><input type="text" name="aspecto" placeholder="Turbio" [(ngModel)]="resultlab.aspecto" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>Transparente</td>
                            </tr>
                            <tr>
                                <td>Sedimento <span class="fa fa-exclamation"></span></td>
                                <td><input type="text" name="sedimento" placeholder="Abundante" [(ngModel)]="resultlab.sedimento" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>Escaso</td>
                            </tr>
                            <tr>
                                <td>Gravedad Especifica <span class="fa fa-exclamation-triangle"></span></td>
                                <td><input type="number" name="gravedad" max="1.035" min="1.005" placeholder="1.005 - 1.035" [(ngModel)]="resultlab.gravedad" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>1.005 - 1.035</td>
                            </tr>
                            <tr>
                                <td>PH <span class="fa fa-ravelry"></span></td>
                                <td><input type="number" name="ph" max="7.0" min="5.0" placeholder="5.0 - 7.0" [(ngModel)]="resultlab.ph" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>5.0 - 7.0</td>        
                            </tr>
                            
                        </tbody>
                    </table>
                    <br><br>

                    <table height="80%" width="100%">
                        <thead>
                            <tr>
                                <td>EXAMEN MICROSCOPICO</td>
                                <td>RESULTADO , uL</td>
                                <td>VALOR DE REFERENCIA</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Eritrocitos <span class="fa fa-sort-numeric-desc"></span></td>
                                <td><input type="number" name="electrolitos" max="5" min="0" placeholder="0-5" [(ngModel)]="resultlab.electrolitos" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>Menor a 5</td>
                            </tr>
                            <tr>
                                <td>Leucocitros <span class="fa fa-sort-numeric-desc"></span></td>
                                <td><input type="number" max="20" min="0" name="leucocitos" placeholder="0-20" [(ngModel)]="resultlab.leucocitos" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>0 - 20 </td>
                            </tr>
                            <tr>
                                <td>Bacterias <span class="fa fa-exclamation"></span></td>
                                <td><input type="number" max="1000.0" name="bacterias" placeholder="1000.00" [(ngModel)]="resultlab.bacterias" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>Celulas Epiteliales <span class="fa fa-exclamation-triangle"></span></td>
                                <td><input type="number" name="celulas" max="15.0" min="0" placeholder="15.0" [(ngModel)]="resultlab.celulas" required><span
                                        class="fa fa-pencil-square-o end"> </span></td>
                                <td>none</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </form>
                </div>
            </main>

        </section>

    </div>

</body>