<body>

    <div class="content">
        <main>
        <div class="fotterllamda">
            <div class="infollamada">
                <div class="histitle"><h1>Informacion del Paciente</h1></div>
                
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Apellidos</td>
                                    <td>Peso</td>
                                    <td>Talla</td>
                                    <td>Temperatura</td>
                                    <td>Presion Arterial</td>
                                    <td>Pulso Cardiaco</td>
                                    <td>Razon</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <td>{{info.name}}</td>
                                    <td>{{info.surnames}}</td>
                                    <td>{{info.weight}} Kg</td>
                                    <td>{{info.size}} m</td>
                                    <td>{{info.temperatura}} °</td>
                                    <td>{{info.blood_pre}}</td>
                                    <td>{{info.hearbeat}} p/min</td>
                                    <td>{{info.reason}}</td>
                            </tbody>
                        </table>
                    </div>


            </div>
        </div>

        <section class="resultados">
            <div class="histitle">
                <h1>Resultados</h1>
            </div>
            <div class="contentreceta">
                
                <div class="recetabody">
                    <div>
                        Nombre del paciente: {{info.name + " " + info.surnames}}
                    </div>
                    <div>
                        Edad : {{info.age}} años
                    </div>

                </div>
                <div class="contentbody">

                    Resultados:
                    <form>
                    <div class="medicamentos">
                        <input type="text" name="resultados" [(ngModel)]="resultados" placeholder="Escriba aqui">
                        <input type="submit" (click)="saveResultados()" value="Enviar Resultados">
                    </div>
                    </form>


                </div>
                


            </div>

        </section>



        <section id="recetas">
                <div class="histitle">
                    <h1>Receta</h1>
                </div>
                <div class="contentreceta">
                    <div class="recetahead">
                        <div class="img1">
                            <img src="assets/img1.png" alt="">
                        </div>
                        <div class="titulo">
                            <!-- <h1>{{infoDoc.username}}</h1>
                            <p>{{infoDoc.type}}</p> -->
                        </div>
                        <div class="img2">
                            <img src="assets/img2.jfif" alt="">
                        </div>
                    </div>
                    <div class="recetahead2">
                        <div>
                            Dispensario Medico : El Niño Doctor
                        </div>
                        <div>
                            Cedula Estatal No 01002587120440
                        </div>
                    </div>
                    <div class="barrasep"></div>
                    <div class="recetabody">
                        <div>
                            Receta Individual
                        </div>
                        <div>
                            Fecha: {{datetoday}}
                        </div>

                    </div>
                    <div class="recetabody">
                        <div>
                            Nombre del paciente: {{info.name + " " + info.surnames}}
                        </div>
                        <div>
                            Edad : {{info.age}} años
                        </div>

                    </div>
                    <div class="contentbody">

                        Medicamento(s):
                        <form>
                        <div class="medicamentos">
                            <input type="text" name="receta" [(ngModel)]="receta" placeholder="Escriba aqui">
                            <input type="submit" (click)="saveReceta()" value="Enviar Receta">
                        </div>
                        </form>


                    </div>
                    <div class="barrasep"></div>
                    <div class="recetafot">
                        las parras No.415 colonia los pedritos, AGS. Tel 449 346 51 48.
                    </div>


                </div>
                <button class="btn-my" (click)="regresa()">Salir</button>
        </section>
    </main>
    </div>
    
    
</body>