.navbar{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 80px;
}

.nav-item{
    border-radius: 50px;
    padding: 0.1rem .3rem;
    margin: 0.3rem; 
    font-size: 1.1rem;
}

.nav-item .active{
    color: white;
    border: 1px solid #00ffbf;
    border-radius: 50px;
}

.nav-item :hover{
    color: #00ffbf;
    box-shadow: 1px 1px 10px #00ffbf;
    
}

.nav-item a{
    border-radius: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.4s all ease-in-out;
}

.navbar-brand{
    color: white;
    font-size: 2.5rem;
    transition: 0.4s all ease-in-out;
}

.navbar-brand:hover{
    text-shadow: 0px 0px 20px #00ffbf;
    color: white;
}

