<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-star-o"></span><span>Hospital</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a (click)="cancel()" routerLinkActive="active"><span class="fa fa-table"></span>
                        <span>Tablero</span></a>
                </li>
                <li>
                    <a (click)="topatient()" routerLinkActive="active" class="active"><span class="fa fa-user"></span>
                        <span>Informacion Del Paciente</span></a>
                </li>
                <li>
                    <a (click)="toreceta()" routerLinkActive="active"><span class="fa fa-user"></span>
                        <span>Recetas</span></a>
                </li>
                <li>
                    <a (click)="toreslab()" routerLinkActive="active"><span class="fa fa-user"></span>
                        <span>Resultados de Laboratorio</span></a>
                </li>
                <li>
                    <a (click)="toeditpat()" routerLinkActive="active"><span class="fa fa-user"></span>
                        <span>Editar Informacion Del paciente</span></a>
                </li>
            </ul>
        </div>
    </div>



    <div class="main-content">
        <section id="Tablero">
            <header>
                <h2>
                    <label for="nav-toggle">
                        <span class="fa fa-bars"></span>
                    </label> Tablero
                </h2>

               
            </header>
        </section>
        <section id="infopaciente">

            <main>
                <div class="dmtitle">
                    <div>
                        <h1>Información Del paciente</h1>
                    </div>
                    <div>
                        <h1>Datos Personales</h1>
                    </div>
                </div>
                <div class="dmcard">
                    <div class="dmimg">
                        <img src="assets/p.jpg" alt="" />


                        <h1>{{dataPatient.name + " " + dataPatient.surnames}}</h1>
                        <p><span class="fa fa-user"></span> Paciente</p>

                    </div>
                    <div class="dminfo">
                        <div class="secciones">
                            <h3>Nombre(s) <span class="fa fa-check-square-o"></span></h3>
                            <p>{{dataPatient.name}}</p>
                        </div>

                        <div class="secciones">
                            <h3>Apellidos<span class="fa fa-check-square-o"></span></h3>
                            <p>{{dataPatient.surnames}}</p>
                        </div>
                        <div class="secciones">
                            <h3>Fecha de Nacimiento <span class="fa fa-calendar"></span></h3>
                            <p>{{dataPatient.birthdate}}</p>
                        </div>
                        <div class="secciones">
                            <h3>Telefono <span class="fa fa-phone"></span></h3>
                            <p>{{dataPatient.phone}}</p>
                        </div>
                        <div class="secciones">
                            <h3><a (click)="toeditpat()" routerLinkActive="active">
                                    <div class="colora"> Editar Informacion del paciente</div><span
                                        class="fa fa-pencil-square-o"></span>
                                </a></h3>
                        </div>
                    </div>
                </div>
                <div class="histitle">
                    <h1>Historia Clinica</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Fecha de Consulta</td>
                                    <td>Peso</td>
                                    <td>Talla</td>
                                    <td>Temperatura</td>
                                    <td>Presion Arterial</td>
                                    <td>Pulso Cardiaco</td>
                                    <td>Razon</td>
                                    <td>Receta</td>
                                    <td>Resultados de Laboratorio</td>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="confirmHistory(); else existHistory">
                                    <tr *ngFor="let h of history; index as i">
                                        <td>{{h.create_at}}</td>
                                        <td>{{h.weight}} Kg</td>
                                        <td>{{h.size}} m</td>
                                        <td>{{h.temperatura}} °</td>
                                        <td>{{h.blood_pre}}</td>
                                        <td>{{h.hearbeat}} p/min</td>
                                        <td>{{h.reason}}</td>
                                        <td><span (click)="torecetaSelect(i)" class="linkaR">Receta {{h.id_con}}</span></td>
                                        <td><span class="linkaR">Lab 01</span></td>
                                    </tr>
                                </ng-container>

                                <ng-template #existHistory>
                                    <tr>
                                        <td>El</td>
                                        <td>paciente</td>
                                        <td>aun</td>
                                        <td>no</td>
                                        <td>tinene</td>
                                        <td>ninguna</td>
                                        <td>consulta</td>
                                        <td><a href="">Receta 01</a></td>
                                        <td><a href="">Lab 01</a></td>
                                    </tr>

                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

        </section>

        <section id="recetas">
            <main>
                <div class="histitle">
                    <h1>Receta</h1>
                </div>
                <div class="contentreceta">
                    <div class="recetahead">
                        <div class="img1">
                            <img src="assets/img1.png" alt="">
                        </div>
                        <div class="titulo">
                            <h1>{{infoDoc.username}}</h1>
                            <p>{{infoDoc.type}}</p>
                        </div>
                        <div class="img2">
                            <img src="assets/img2.jfif" alt="">
                        </div>
                    </div>
                    <div class="recetahead2">
                        <div>
                            Dispensario Medico : El Niño Doctor
                        </div>
                        <div>
                            Cedula Estatal No 01002587120440
                        </div>
                    </div>
                    <div class="barrasep"></div>
                    <div class="recetabody">
                        <div>
                            Receta Individual
                        </div>
                        <div>
                            Fecha: {{prescription.create_at}}
                        </div>

                    </div>
                    <div class="recetabody">
                        <div>
                            Nombre del paciente: {{dataPatient.name + " " + dataPatient.surnames}}
                        </div>
                        <div>
                            Edad : {{dataPatient.age}} años
                        </div>

                    </div>
                    <div class="contentbody">

                        Medicamento(s):
                        <ul>
                            <li *ngFor="let med of medicine; index as i">{{med}}</li>
                        </ul>

                    </div>
                    <div class="barrasep"></div>
                    <div class="recetafot">
                        las parras No.415 colonia los pedritos, AGS. Tel 449 346 51 48. {{infoDoc.email}}
                    </div>


                </div>
            </main>
        </section>
        <section id="reslab">
            <main>
                <div class="histitle">
                    <h1>Resultados de laboratorio</h1>
                </div>
                <div class="contentlab">
                    <div class="headerlab">
                        <div><img src="assets/img1.png" alt=""> </div>
                        <div>
                            <h1>Dr. brayan de jesus capetillo macias</h1>
                            <p>STAR SEGUROS SA DE CV</p>
                            <P>F. Alta : 20/06/2020</P>
                            <P>F. impresion : 20/06/2020</P>
                            <P>estudio: 1 de 1</P>
                            <p>Paciente: Efrain Peralta Rodriguez</p>
                        </div>
                    </div>
                    <div class="barrasep"></div>

                    <div class="table-responsive">
                        <div class="tablalab1">
                            <table>
                                <thead>
                                    <tr>
                                        <td>ANALSIS DE ORINA</td>
                                        <td>RESULTADO</td>
                                        <td>VALOR DE REFERENCIA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Color </td>
                                        <td>Amarillo palido</td>
                                        <td>none</td>
                                    </tr>
                                    <tr>
                                        <td>Aspecto</td>
                                        <td>Turbio</td>
                                        <td>Transparente</td>

                                    </tr>
                                    <tr>
                                        <td>Sedimento</td>
                                        <td>Abundante</td>
                                        <td>Escaso</td>
                                    </tr>
                                    <tr>
                                        <td>Gravedad Especifica</td>
                                        <td>1.009</td>
                                        <td>1.005 - 1.035</td>
                                    </tr>
                                    <tr>
                                        <td>PH</td>
                                        <td>7.0</td>
                                        <td>5.0 - 7.0</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tablalab1">
                            <table>
                                <thead>
                                    <tr>
                                        <td>EXAMEN MICROSCOPICO</td>
                                        <td>RESULTADO , uL</td>
                                        <td>VALOR DE REFERENCIA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Eritrocitos </td>
                                        <td>3</td>
                                        <td>Menor a 5</td>
                                    </tr>
                                    <tr>
                                        <td>Leucocitros</td>
                                        <td>18</td>
                                        <td>0 - 20</td>

                                    </tr>
                                    <tr>
                                        <td>Bacterias</td>
                                        <td>1000.0</td>
                                        <td>none</td>
                                    </tr>
                                    <tr>
                                        <td>Celulas Epiteliales</td>
                                        <td>15.0</td>
                                        <td>none</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="infolab">
                        <div>
                            <h6>OTROS HALLAZGOS</h6>
                            <br>
                            Mucina

                        </div>
                        <div>
                            <h6>Resultado</h6>
                            <br>
                            AUSENTE
                        </div>
                    </div>

                    <div class="fotterlab">
                        <div class="firmalab">
                            FIRMA ELECTRONICA DEL DOCTOR : 203975
                        </div>
                        <div class="barrasep"></div>
                        <div class="infofotterlab">
                            las parras No.415 colonia los pedritos, AGS. Tel 449 346 51 48. brayancapetoccc@gmail.com
                        </div>
                    </div>



                </div>

            </main>
        </section>

        <section id="Editarinfo">
            <main>
                <div class="card-body">
                    <div class="histitle">
                        <h1>Editando Datos Paciente</h1>
                    </div>
                    <div class="table-responsive">
                        <form action="">
                            <table class="tabla2" width="80%">
                                <thead>
                                    <tr>
                                        <td>Datos</td>
                                        <td>Editar</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nombre(s) <span class="fa fa-check-square-o"></span></td>
                                        <td><input type="text" name="name" [(ngModel)]="dataPatient.name" required><span
                                                class="fa fa-pencil-square-o end"> </span></td>
                                    </tr>
                                    <tr>
                                        <td>Apellidos <span class="fa fa-text-width"></span></td>
                                        <td><input type="text" name="surnames" [(ngModel)]="dataPatient.surnames"
                                                required><span class="fa fa-pencil-square-o end"> </span></td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Nacimiento <span class="fa fa-text-width"></span></td>
                                        <td><input type="date" name="birthdate" [(ngModel)]="dataPatient.birthdate"
                                                required></td>
                                    </tr>

                                    <tr>
                                        <td>Telefono <span class="fa fa-phone"></span></td>
                                        <td><input type="text" name="phone" [(ngModel)]="dataPatient.phone"
                                                required><span class="fa fa-pencil-square-o end"> </span></td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="btnedit">
                                <input type="submit" (click)="cancel()" value="Cancelar">
                                <input type="submit" (click)="savePatient()" value="Guardar Cambios">
                            </div>
                        </form>
                    </div>

                </div>
            </main>
        </section>

    </div>

</body>