
@font-face {
    font-family: 'cursiva';
    src: url(/assets/cursive.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
#infopaciente{
    padding-top: 100px;
}
#reslab{
    padding-top: 20px;
}
#recetas{
    padding-top: 40px;
}

.sidebar {
    margin-top: 80px;
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background:#6600ff;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    cursor: pointer;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #6600ff;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a:hover {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #6600ff;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
}


.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
    margin-top: 180px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width:calc( 100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
    margin-top: 80px;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: gray;
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}


.dmcard{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 50% auto;
}

.dmtitle{
    display: flex;
    justify-content:space-around;
   
}

.dminfo p{
    padding: 5px 10px;
}

.dminfo h3{
    padding: 10px 10px;
}

.dminfo .secciones{
    background: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dmimg{
    align-items: center;
    text-align: center;
}

.dmimg img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.dmimg h1,
.dmimg p{
    padding-top: 30px;
}
.dmimg p{
    padding-top: 30px;
    font-size: 1.7rem;
}

.secciones span{
    color: #6200ff;
    padding-left: 10px;
    font-size: 1.7rem;
    margin-top: 5px;
}

.dmimg span{
    text-align: center;
    color: #6200ff;
    font-size: 1.8rem;
}

.datospersonales{
    font-size: 2rem;
    font-weight: 600;
}

.histitle{
    padding: 80px 0 30px 0;
}

.table-responsive{
    width: 100%;
}

table {
    border-collapse: collapse;
    border-bottom: 2px solid #6200ff;
    
}

thead tr {
    border-bottom: 2px solid #6200ff;
    height: 50px;
}

thead td {
    font-weight: 700;
    background: #6200ff;
    color: #fff;
    height: 50px;
}

span.end{
    color: #0051ff;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: rgb(34, 34, 34);
    height: 50px;
}

td input{
    border-color: transparent;
    max-width: 600px;
    min-width: 300px;
    color: #6200ff;
}

.contentreceta{
    border-radius: 20px;
    border: 2px solid #6200ff;
    width: 100%;
}

.recetahead{
    display: flex;
    justify-content: space-between;
}

.recetahead img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.recetahead .img2 img{
    padding: 30px;
}

.titulo{
    text-align: center;
}

.titulo h1{
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
    font-family: 'cursiva';
    
}

.titulo p{
    font-size: 1.5rem;
}

.recetahead2{
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    font-size: 1.3rem;
}

.barrasep{
    margin-left: 2%;
    width: 96%;
    height: 5px;
    background: linear-gradient(to left,rgb(162, 0, 255),rgb(0, 183, 255),rgb(162, 0, 255));

}

.recetabody{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    font-size: 1.3rem;
    
}

.contentbody{
    margin-top: 50px;
    min-height: 200px;
    font-size: 1.3rem;
    padding:0 30px;
}

.recetafot{
    font-size: 1.3rem;
    padding:0 30px;
    text-align: right;
}

.contentbody li{
    list-style:circle ;
}

.tabla2{
    margin-left: 10%;
}

.btnedit{
    width: 80%;
    padding-top: 50PX;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    
}

.btnedit input{
    background: #6200ff;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    color: #fff;
    transition: 0.4s all;
}
.btnedit input:hover{
    background: #00e1ff;

}

.colora{
    color: rgb(0, 140, 255);
    cursor: pointer;
}

.contentlab{
    border: 2px solid #6200ff;
    border-radius: 20px;
    width: 100%;
}

.headerlab{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px;
    align-items: center;
}
.headerlab h1{
    font-family: 'cursiva';
    font-size: 5rem;
}

.headerlab p{
    font-size: 1rem;

}
.headerlab img{
    width: 250px;
    height: 250px;
}
.tablalab1{
    padding: 2%;
}

.tablalab1 table{
    width: 100%;
}

.infolab{
    display: flex;
    justify-content: space-around;
}

.fotterlab{
    padding: 20px;
    align-items: center;
    text-align: center;
}

.firmalab{
    font-weight: 500;
    padding-bottom: 20px;
}

.infofotterlab{
    text-align: right;
    padding: 2%;
}


@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 100%;
    }
    .search-wrapper {
        display: none;
    }
    .sidebar {
        left: -100% !important;
    }
    header h2 {
        display: flex;
        align-items: center;
    }
    header h2 label {
        display: inline-block;
        text-align: center;
        background: #6600ff;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }
    header h2 {
        font-size: 1.1rem;
    }
    .main-content {
        width: 100%;
        margin-left: 0rem;
    }
    header {
        width: 100% !important;
        left: 0 !important;
    }
    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }
    #nav-toggle:checked+.sidebar:hover {
        width: 345px;
        z-index: 200;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar:hover li {
        padding-left: 2rem;
        text-align: left;
    }
    #nav-goggle:checked+.sidebar li a {
        padding-left: 1rem;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand h2 span:last-child,
    #nav-goggle:checked+.sidebar li a span:last-child {
        display: inline;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }
    .dmcard{
        grid-template-columns: 100%;
    }
    .table-responsive{
        max-width: 800px;
        margin-left: 0%;
    }
    .histitle{
        margin-left: 0%;
        margin-bottom: 10px;
    }
    .btnedit{
        padding-top: 0PX;
        
    }
    .recetahead img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .tabla2{
        margin-left: 0%;
    }
    .headerlab{
        display: block;
    }
    .recetahead{
        display: block;
    }
    .recetahead2{
        display: block;
    }
}