@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


#doctorme{
   padding-top: 100px;
}
#Tablero{
    padding-top: 100px;
 }

 #recetas{
    padding-top: 100px;
 }

 #paciente{
    padding-top: 100px;
 }

 #historial{
    padding-top: 100px;
 }



.sidebar {
    margin-top: 80px;
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background:#6600ff;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    cursor: pointer;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #6600ff;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a:hover {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #6600ff;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
}


.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
    margin-top: 180px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width:calc( 100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
    margin-top: 80px;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: gray;
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: #6600ff;
}

.card-single div:first-child span {
    color: gray;
}

.card-single:last-child {
    background: #6600ff;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background: #fff;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: #6600ff;
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid #6600ff;
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #6200ff;
}

thead td {
    font-weight: 700;
    background: #6200ff ;
    color: white;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: rgb(34, 34, 34);
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.status.green {
    background: rgb(6, 192, 6);
}

.status.yellow {
    background: yellow;
}

.status.red {
    background: red;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: gray;
}

.contact span {
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px 2px;
    margin-left: .5rem;
    color: #6600ff;
    cursor: pointer;
}

.contact span.green{
    color: #fff;
    background-color: rgb(6, 192, 6);
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}
.contact span.red{
    color: #fff;
    background-color: red;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}
.contact span.purple{
    color: #6200ff;
    font-size: 1.6rem;
    transition: 0.4s ease-in-out;
}

.contact span.green:hover{
    transform: scale(1.2);
}
.contact span.red:hover{
    transform: scale(1.2);
}
.contact span.purple:hover{
    transform: scale(1.2);
}

.dmcard{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 50% auto;
}


.dminfo p{
    padding: 10px 10px;
}

.dminfo h3{
    padding: 10px 10px;
}

.dminfo .secciones{
    background: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
}

.dmimg{
    align-items: center;
    text-align: center;
}

.dmimg img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.dmimg h1,
.dmimg p{
    padding-top: 30px;
}
.dmimg p{
    padding-top: 30px;
    font-size: 1.7rem;
}

.secciones span{
    color: #6200ff;
    padding-left: 10px;
    font-size: 1.7rem;
    margin-top: 5px;
}

.dmimg span{
    text-align: center;
    color: #6200ff;
    font-size: 1.8rem;
}

.histitle{
    padding: 10px 0 30px 0;

}

.hissub h1{
    font-size: 1.8rem;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardhis{
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 500;
}

.cardhis img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.editar{
    padding: 18px;
}

.wrapperpat{
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-template-columns: repeat(5,1fr);
}

.cardpat{
    background: #f1f5f9;
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.cardpat:hover{
    transform: translateY(-20px);
}

.cardpat::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,  rgb(0, 255, 149) 20% ,rgba(0, 255, 136,0.1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 20px;
}

.cardpat:hover::before{
    opacity: 1;
}

.cardpat img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 40px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.cardpat .name{
    position: relative;
    z-index: 3;
    color: rgb(0, 0, 0);
    opacity: 1;
    transform: translateY(-30px);
    transition: 0.3s all;
}

.cardpat h1{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 30px;
    transition: 0.3s all;
}

.cardpat:hover h1{
    transform: translateY(-10px);
}

.cardpat a{
    opacity: 0;
}

.cardpat:hover a{
    opacity: 1;
}

.cardpat .name .btn{
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin:0 60px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s all;

}

.cardpat .name .btn:hover{
    
    background: #6200ff;
    color: #fff;

}

@media only screen and (max-width: 1700px) {
    .wrapperpat{
        grid-template-columns: repeat(3,1fr);
    }
    
}


@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }
    .wrapperpat{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid {
        grid-template-columns: 60% 40%;
    }
    .wrapperpat{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 100%;
    }
    .search-wrapper {
        display: none;
    }
    .sidebar {
        left: -100% !important;
    }
    header h2 {
        display: flex;
        align-items: center;
    }
    header h2 label {
        display: inline-block;
        text-align: center;
        background: #6600ff;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }
    header h2 {
        font-size: 1.1rem;
    }
    .main-content {
        width: 100%;
        margin-left: 0rem;
    }
    header {
        width: 100% !important;
        left: 0 !important;
    }
    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }
    #nav-toggle:checked+.sidebar:hover {
        width: 345px;
        z-index: 200;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar:hover li {
        padding-left: 2rem;
        text-align: left;
    }
    #nav-goggle:checked+.sidebar li a {
        padding-left: 1rem;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand h2 span:last-child,
    #nav-goggle:checked+.sidebar li a span:last-child {
        display: inline;
    }
    .wrapperpat{
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }
    .dmcard{
        grid-template-columns: 100%;
    }
}
