<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-star-o"></span> <span>Hospital</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a (click)="totable()" routerLink="/doctor" routerLinkActive="active"><span class="fa fa-table"></span><span>Tablero</span></a>
                </li>
                <li>
                    <a (click)="todoctorme()" routerLinkActive="active"><span class="fa fa-user-md"></span>
                        <span>Yo merengues</span></a>
                </li>
                <li>
                    <a (click)="topacientes()" routerLinkActive="active"><span class="fa fa-user"></span>
                        <span>Pacientes</span></a>
                </li>
                <li>
                    <a (click)="tohistorial()" routerLinkActive="active"><span class="fa fa-address-card"></span>
                        <span>Historial de Consulta</span></a>
                </li>
                <li>
                    <a (click)="toexpediente()" routerLinkActive="active"><span class="fa fa-id-card"></span>
                        <span>Expediente Clinico</span></a>
                </li>
                <li>
                    <a (click)="topacientes()" routerLinkActive="active"><span class="fa fa-address-card-o"></span>
                        <span>Recetas</span></a>
                </li>
            </ul>
        </div>
    </div>


    <div class="main-content">
        <section id="Tablero">
            <header>
                <h2>
                    <label for="nav-toggle">
                        <span class="fa fa-bars"></span>
                    </label> Tablero
                </h2>

                <div class="search-wrapper">
                    <span class="fa fa-search"></span>
                    <input type="search" placeholder="Buscar aquí" />
                </div>
                <div class="user-wrapper">
                    <img src="assets/p.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>{{me.username}}</h4>
                        <small>{{me.type}}</small>
                    </div>
                </div>
            </header>

            <main>
                <div class="cards">

                    <div class="card-single">
                        <div>
                            <h1>{{me.id}}</h1>
                            <span>ID de doctor</span>
                        </div>
                        <div>
                            <span class="fa fa-user-md"></span>
                        </div>
                    </div>

                    <div class="card-single">
                        <div>
                            <h1>{{dashboar.num_p}}</h1>
                            <span>Menejo de pacientes</span>
                        </div>
                        <div>
                            <span class="fa fa-users"></span>
                        </div>
                    </div>

                    <div class="card-single">
                        <div>
                            <h1>{{dashboar.num_w}}</h1>
                            <span>Atendidos esta semana</span>
                        </div>
                        <div>
                            <span class="fa fa-file-text-o"></span>
                        </div>
                    </div>

                    <div class="card-single">
                        <div>
                            <h1>{{dashboar.num_c}}</h1>
                            <span>Consultas Realizadas</span>
                        </div>
                        <div>
                            <span class="fa fa-heart"></span>
                        </div>
                    </div>
                </div>
                <!--Tabla-->
                <div class="recent-grid">
                    <div class="projects">
                        <div class="card">
                            <div class="card-header">
                                <h3>Pacientes recientes</h3>

                                <button>Mostrar todo <span class="las la-arrow-right">
                                    </span></button>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>Nombre</td>
                                                <td>Apellido</td>
                                                <td>Estado</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="confirmPatients(); else existPatients">
                                                <tr *ngFor="let patient of patients; index as i">
                                                    <td>{{patient.name}}</td>
                                                    <td>{{patient.surnames}}</td>
                                                    <td>
                                                        <span class="status green"></span> Bueno
                                                    </td>
                                                </tr>
                                            </ng-container>

                                            <ng-template #existPatients>
                                                <tr>
                                                    <td>Aun no has</td>
                                                    <td>Atendido a</td>
                                                    <td>Ningun paciente</td>
                                                </tr>

                                            </ng-template>

                                            <!-- <tr>
                                            <td>Brayan</td>
                                            <td>Capetillo macias</td>
                                            <td>
                                                <span class="status green"></span> Bueno
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Gerardo</td>
                                            <td>Martinez Martinez</td>
                                            <td>
                                                <span class="status red"></span> Malo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>efrain</td>
                                            <td>peralta Rodriguez</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>moises</td>
                                            <td>rubio robledo</td>
                                            <td>
                                                <span class="status green"></span> Bueno
                                            </td>
                                        </tr> -->


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="customers">

                        <div class="card">
                            <div class="card-header">
                                <h3>Peticiones de Consulta</h3>

                                <button>Mostrar todo <span class="fa fa-bell">
                                    </span></button>
                            </div>

                            <div class="card-body">

                                <div class="customer">
                                    <div class="info">
                                        <img src="assets/staff.jpg" width="40px" height="40px" alt="">
                                        <div>
                                            <h4>Pedro Fernandez</h4>
                                            <small>Diarrea</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="fa fa-user-circle purple"></span>
                                        <span class="fa fa fa-phone green"></span>
                                        <span class="fa fa fa-phone red"></span>
                                    </div>
                                </div>

                                <div class="customer">
                                    <div class="info">
                                        <img src="assets/staff.jpg" width="40px" height="40px" alt="">
                                        <div>
                                            <h4>Pedro Fernandez</h4>
                                            <small>Diarrea</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="fa fa-user-circle purple"></span>
                                        <span class="fa fa fa-phone green"></span>
                                        <span class="fa fa fa-phone red"></span>
                                    </div>
                                </div>
                                <div class="customer">
                                    <div class="info">
                                        <img src="assets/staff.jpg" width="40px" height="40px" alt="">
                                        <div>
                                            <h4>Pedro Fernandez</h4>
                                            <small>Diarrea</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="fa fa-user-circle purple"></span>
                                        <span class="fa fa fa-phone green"></span>
                                        <span class="fa fa fa-phone red"></span>
                                    </div>
                                </div>
                                <div class="customer">
                                    <div class="info">
                                        <img src="assets/staff.jpg" width="40px" height="40px" alt="">
                                        <div>
                                            <h4>Pedro Fernandez</h4>
                                            <small>Diarrea</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="fa fa-user-circle purple"></span>
                                        <span class="fa fa fa-phone green"></span>
                                        <span class="fa fa fa-phone red"></span>
                                    </div>
                                </div>
                                <div class="customer">
                                    <div class="info">
                                        <img src="assets/staff.jpg" width="40px" height="40px" alt="">
                                        <div>
                                            <h4>Pedro Fernandez</h4>
                                            <small>Diarrea</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="fa fa-user-circle purple"></span>
                                        <span class="fa fa fa-phone green"></span>
                                        <span class="fa fa fa-phone red"></span>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </section>

        <section id="doctorme">

            <main>
                <div class="dmtitle">
                    <h1>Mi Información</h1>
                </div>
                <div class="dmcard">
                    <div class="dminfo">
                        <div class="secciones">
                            <h3>Correo Electronico <span class="fa fa-envelope"></span></h3>
                            <p>{{me.email}}</p>
                        </div>

                        <div class="secciones">
                            <h3>Pais<span class="fa fa-globe"></span></h3>
                            <p>{{me.country}}</p>
                        </div>
                        <div class="secciones">
                            <h3>Universidad <span class="fa fa-university"></span></h3>
                            <p>{{me.college}}</p>
                        </div>
                        <div class="secciones">
                            <h3>Telefono <span class="fa fa-phone"></span></h3>
                            <p>{{me.phone}}</p>
                        </div>


                    </div>
                    <div class="dmimg">
                        <img src="assets/e.jpg" alt="" />


                        <h1>{{me.username}}</h1>
                        <p><span class="fa fa-user-md"></span>{{me.type}}</p>

                    </div>
                </div>
                <div class="editar"><a routerLink="/editdoc" routerLinkActive="active"> Editar mi Informacion</a></div>
            </main>

        </section>

        
        <section id="pacientes">  
            <main>
                <div class="histitle">
                    <h1>Pacientes</h1>
                </div>   
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Nombre</td>
                                    <td>Apellido</td>
                                    <td>Fecha de Nacimiento</td>
                                    <td>Numero de Celular</td>
                                    <td>Estado</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>021420</td>
                                    <td>Brayan</td>
                                    <td>Capetillo macias</td>
                                    <td>25-02-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>

                                </tr>
                                <tr>
                                    <td>021420</td>
                                    <td>Gerardo</td>
                                    <td>Martinez Martinez</td>
                                    <td>02-12-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status red"></span> Malo
                                    </td>
                                </tr>
                                <tr>
                                    <td>021420</td>
                                    <td>efrain</td>
                                    <td>peralta Rodriguez</td>
                                    <td>02-12-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status yellow"></span> Intermedio
                                    </td>
                                </tr>
                                <tr>
                                    <td>021420</td>
                                    <td>moises</td>
                                    <td>rubio robledo</td>
                                    <td>02-12-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                <div class="histitle"><h1>Pacientes</h1></div>
                <div class="wrapperpat">
                    <div class="cardpat">
                        <img src="assets/e.jpg" alt="">
                        <div class="name">
                            <h1>efrain peralta</h1>
                            <a routerLink="/showpat" routerLinkActive="active" class="btn">ver paciente</a>
                        </div>
                    </div>
                    <div class="cardpat">
                        <img src="assets/m.jpg" alt="">
                        <div class="name">
                            <h1>efrain peralta</h1>
                            <a href="" class="btn">ver paciente</a>
                        </div>
                    </div>
                    <div class="cardpat">
                        <img src="assets/e.jpg" alt="">
                        <div class="name">
                            <h1>efrain peralta</h1>
                            <a href="" class="btn">ver paciente</a>
                        </div>
                    </div>
                    <div class="cardpat">
                        <img src="assets/m.jpg" alt="">
                        <div class="name">
                            <h1>efrain peralta</h1>
                            <a href="" class="btn">ver paciente</a>
                        </div>
                    </div>
                    <div class="cardpat">
                        <img src="assets/m.jpg" alt="">
                        <div class="name">
                            <h1>efrain peralta</h1>
                            <a href="" class="btn">ver paciente</a>
                        </div>
                    </div>
                    <div class="cardpat">
                        <img src="assets/m.jpg" alt="">
                        <div class="name">
                            <h1>efrain peralta</h1>
                            <a href="" class="btn">ver paciente</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </main>
    </section>    


        <section id="historial">
            <main>
                <div class="histitle">
                    <h1>Historial de Consultas</h1>
                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>ID Consulta</td>
                                    <td>Fecha de Consulta</td>
                                    <td>Pacientes</td>
                                    <td>Estado</td>

                                    <td>Motivo</td>
                                    <td>Receta</td>
                                    <td>Observaciones/ notas</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0001</td>
                                    <td>25-20-2020</td>
                                    <td>Geras</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                    <td>tos</td>
                                    <td><a href="">Receta 0001</a></td>
                                </tr>
                                <tr>
                                    <td>0002</td>
                                    <td>25-20-2020</td>
                                    <td>efra</td>

                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                    <td>covid</td>
                                    <td><a href="">Receta 0002</a></td>
                                </tr>
                                <tr>
                                    <td>0003</td>
                                    <td>25-20-2020</td>
                                    <td>moy</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                    <td>gripa</td>
                                </tr>
                                <tr>
                                    <td>0004</td>
                                    <td>25-20-2020</td>
                                    <td>brayan</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                    <td>se murio</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

        </section>

        <section id="expediente">
            <main>
                <div class="histitle">
                    <h1>Expediente Clinico</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Nombre</td>
                                    <td>Apellido</td>
                                    <td>Fecha de Nacimiento</td>
                                    <td>Numero de Celular</td>
                                    <td>Estado</td>
                                    <td>Observaciones/ notas</td>
                                    <td>Historial</td>
                                    <td>Datos</td>
                                    <td>Resultados de Laboratorio</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>021420</td>
                                    <td>Brayan</td>
                                    <td>Capetillo macias</td>
                                    <td>25-02-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                    <td>es alergico a muchas cosas el bato</td>
                                    <td><a href="">Historial</a></td>
                                    <td><a href="">Editar</a></td>
                                    <td><a href="">Resultados de Laboratorio</a></td>
                                </tr>
                                <tr>
                                    <td>021420</td>
                                    <td>Gerardo</td>
                                    <td>Martinez Martinez</td>
                                    <td>02-12-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status red"></span> Malo
                                    </td>
                                </tr>
                                <tr>
                                    <td>021420</td>
                                    <td>efrain</td>
                                    <td>peralta Rodriguez</td>
                                    <td>02-12-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status yellow"></span> Intermedio
                                    </td>
                                </tr>
                                <tr>
                                    <td>021420</td>
                                    <td>moises</td>
                                    <td>rubio robledo</td>
                                    <td>02-12-2000</td>
                                    <td>449 346 51 48</td>
                                    <td>
                                        <span class="status green"></span> Bueno
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

        </section>
    </div>
</body>
