<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-star-o"></span><span>Hospital</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li >
                    <a routerLink="/doctor" routerLinkActive="active" ><span class="fa fa-table"></span>
                    <span>Tablero</span></a>
                </li>
                <li>
                    <a routerLinkActive="active" class="active"><span class="fa fa-user"></span>
                    <span>Informacion personal</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <section id="Tablero">
            <header>
                <h2>
                    <label for="nav-toggle">
                        <span class="fa fa-bars"></span>
                    </label> Tablero
                </h2>
    
                <div class="user-wrapper">
                    <img src="assets/p.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Brayan Capetillo</h4>
                        <small>Dr general</small>
                    </div>
                </div>
            </header>
            </section>

        
        <section id="Editarinfo">
            <main>
            <div class="card-body">
                <div class="histitle"><h1>Editando mis Datos Doctor</h1></div>
                <div class="table-responsive">
                    <form action="">
                    <table height="80%" width="100%">
                        <thead>
                            <tr>
                                <td>Datos</td>
                                <td>Editar</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre <span class="fa fa-text-width"></span></td>
                                <td><input type="text" name="" value="Brayan"  required></td>
                            </tr>
                            <tr>
                                <td>Apellidos <span class="fa fa-text-width"></span></td>
                                <td><input type="text" name="" value="Capetillo Macias"  required></td>
                            </tr>
                            <tr>
                                <td>Correo Electronico <span class="fa fa-envelope"></span></td>
                                <td><input type="email" name="" value="brayancapetoccc@gmail.com"  required></td>
                            </tr>
                            <tr>
                                <td>Pais <span class="fa fa-globe"></span></td>
                                <td><input type="text" name="" value="Mexico"  required></td>
                            </tr>
                            <tr>
                                <td>Universidad <span class="fa fa-university"></span></td>
                                <td><input type="text" name="" value="BUAA"  required></td>
                            </tr>
                            <tr>
                                <td>Telefono <span class="fa fa-phone"></span></td>
                                <td><input type="text" name="" value="449 346 51 48"  required></td>
                            </tr>
                            <tr>
                                <td>Medico <span class="fa fa-user-md"></span></td>
                                <td><input type="text" name="email" value="Medico General"  required></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btnedit">
                        <input type="submit" value="Cancelar">
                        <input type="submit" value="Guardar Cambios">
                    </div>
                </form>
                </div>
                
            </div>
        </main>
        </section>   
        
    </div>

</body>