body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
	/*background: linear-gradient(45deg,#00b9f7 ,#0073ff);*/
  background:url(src/assets/doctor.jfif) ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.box
{
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 650px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 20px;
}
.box h2
{
	margin: 0 0 30px;
	padding: 0;
	color: rgb(253, 253, 253);
	text-align: center;
}
.box .inputBox
{
	position: relative;
}
.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(45deg,#6600ff,#337fc8,#00ff91)1;
	outline: none;
	background: transparent;
  transition: 0.4s all ease-in-out;
}


.box .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: rgb(255, 255, 255);
	pointer-events: none;
	transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -18px;
	left: 0;
	background: -webkit-linear-gradient(right,#6600ff,#337fc8,#00ff91);
  background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 12px;
}
.box input[type="submit"]
{
	background: transparent;
	border:none;
	outline: none;
	color: #fff;
	background: linear-gradient(45deg,#6600ff,#337fc8,#00ff91 );
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.box input[type="submit"]:hover{
  background: linear-gradient(-45deg,#6600ff,#337fc8,#00ff91 );
}



.box .a
{
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	display: block;
}

	.box h5
	{
		margin: 0;
		padding: 30px 0 0 0;
		text-align: center;
		color: #fff;
	}
	.box h4
	{
		margin: 0;
		padding: 60px 0 0 0;
		text-align: center;
		color: #fff;
	}
	.box h4 a
	{
		background: -webkit-linear-gradient(left,#6600ff,#337fc8,#00ff91);
    background-clip: text;
    -webkit-text-fill-color: transparent;

	}

  .box h4 a:hover{
    background: -webkit-linear-gradient(right,#6600ff,#337fc8,#00ff91);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }


ul
{
	margin: 0;
	padding: 0;
	display: flex;

}
ul li
{
	list-style: none;

}
ul li a
{
	
	position: relative;
	float: left;
	top: 30px;
	left: 60px;
	margin: 15px 38px;
	width: 70px;
	height: 70px;
	line-height: 50px;
	text-decoration: none;
	color: #262626;
	transition: .5s;
}
ul li a span
{
	position: absolute;
	text-align: center;
	transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3)
{
	width: 100%;
	height: 2px;
	background: linear-gradient(45deg,#6600ff,#337fc8,#00ff91);
}
ul li a span:nth-child(1)
{
	top: 0;
	left: 0;
	transform-origin: right;
}
ul li a:hover span:nth-child(1)
{
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s;
}
ul li a span:nth-child(3)
{
	bottom: 0;
	left: 0;
	transform-origin: left;
}
ul li a:hover span:nth-child(3)
{
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s;
}


ul li a span:nth-child(2),
ul li a span:nth-child(4)
{
	width: 2px;
	height: 100%;
	background: linear-gradient(45deg,#6600ff,#337fc8,#00ff91);
}
ul li a span:nth-child(2)
{
	top: 0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
}
ul li a:hover span:nth-child(2)
{
	transform: scaleY(1);
	transform-origin: top;
	transition: transform .5s;
}

ul li a span:nth-child(4)
{
	top: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: top;
}
ul li a:hover span:nth-child(4)
{
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform .5s;
}

ul li:nth-child(1) .fa
{
	
	padding: 12px 20px;
	font-size: 50px;
	text-align: center;
	color: #ffffff;
}
ul li:nth-child(2) .fa
{
	padding: 10px 15px;
	font-size: 50px;
	text-align: center;
	color: #ffffff;
}


@media screen and (max-width: 988px)
{
	
  .box
	{
		width: 350px;
		height: 600px;
		right: 10px;
	}
  ul li a
  {
	
	position: relative;
	float: left;
	top: 30px;
	left: 50px;
	margin: 0px 10px;
	width: 70px;
	height: 70px;
	line-height: 50px;
	text-decoration: none;
	color: #262626;
	transition: .5s;
  }
}
@media screen and (max-width: 640px)
{
	.box
	{
		width: 350px;
		height: 600px;
		right: 10px;
	}
  ul li a
  {
	
	position: relative;
	float: left;
	top: 30px;
	left: 50px;
	margin: 0px 10px;
	width: 70px;
	height: 70px;
	line-height: 50px;
	text-decoration: none;
	color: #262626;
	transition: .5s;
  }
}
@media screen and (max-width: 320px)
{
	.box
	{
		width: 350px;
		height: 600px;
		right: 10px;
	}
  ul li a
  {
	
	position: relative;
	float: left;
	top: 30px;
	left: 50px;
	margin: 0px 10px;
	width: 70px;
	height: 70px;
	line-height: 50px;
	text-decoration: none;
	color: #262626;
	transition: .5s;
  }
}