body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
	/*background: linear-gradient(45deg,#00b9f7 ,#0073ff);*/
  background:url(src/assets/doctor.jfif) ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}