body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
	/*background: linear-gradient(45deg,#00b9f7 ,#0073ff);*/
  background:url(src/assets/m.jpg) ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.sign .nu2 input{
    border-style: solid;
    border-width: 0 0 2px 0;
    border-image: linear-gradient(45deg,#00d4fe,#80eaff,#6ff3b6)1;
}

.sign{
    position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 700px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 20px;
}

.nu2 input:focus ~ label,
.nu2 input:valid ~ label{
	top: -18px;
	left: 0;
	background: -webkit-linear-gradient(right,#00d4fe,#80eaff,#6ff3b6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 12px;
}
.sign input[type="submit"]{
	background: transparent;
	border:none;
	outline: none;
	color: rgb(0, 0, 0);
	background: linear-gradient(45deg,#00d4fe,#80eaff,#6ff3b6);
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
  transition: 0.4s all ease-in-out;
}

.sign input[type="submit"]:hover{
  background: linear-gradient(45deg,#6ff3b6,#80eaff,#00d4fe );
  color: rgb(183, 0, 255);
}



.sign li a span:nth-child(1),
.sign li a span:nth-child(3)
{
	width: 100%;
	height: 2px;
	background: linear-gradient(45deg,#6ff3b6,#80eaff,#00d4fe);
}


@media screen and (max-width: 988px)
{
	
  .sign
	{
		width: 450px;
		height: 450px;
		right: 10px;
	}
}
@media screen and (max-width: 640px)
{

    .sign
	{
		width: 350px;
		height: 400px;
		right: 10px;
	}
}
@media screen and (max-width: 320px)
{
    .sign
	{
		width: 310px;
		height: 400px;
		right: 10px;
	}
}