<body>
  
    <div class="box sign">
      <h2>Sign Up</h2>
      <form (submit)="signUp()">
        <div class="inputBox nu2">
            <input type="text" [(ngModel)]="user.username" name="username" required autofocus>
          <label>Username</label>
        </div>
        <div class="inputBox nu2">
            <input type="email" [(ngModel)]="user.email" name="email" required>
          <label>Email</label>
        </div>
        <div class="inputBox nu2">
            <input type="password" [(ngModel)]="user.password" name="password" required>
          <label>Password</label>
        </div>
        <input type="submit" value="submit">
      </form>
      <a href="/signin-doctor" class="a">One of us?</a>
      <h5>Sign Up Using</h5>
      <ul class="sig">
        <li>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-google"></i>
        </a>
      </li>
      </ul>
      <h4>thanks for register</h4>
    </div>
    </body>